<!-- <app-c1></app-c1> -->





<!-- <h1 align="center">Welcome to Angular!!</h1>

<table border="1" width="90%" align="center">
  <tr><td align="center"><h1>Header</h1></td></tr>
  <tr><td>
        <table border="1" width="100%">
      <tr>
        <td>
            <ul> -->
              
                
<!-- <li><a routerLink="/c1">c1 component</a><br></li>
  <li><a routerLink="/heroeslist">heroes list</a><br></li>
    <li><a routerLink="/tform">Template form</a><br></li>
      <li><a routerLink="/rform">Reactive form</a><br></li>

                <li>
                  <a routerLink="book/create" routerLinkActive="active">
                    Insert Book
                  </a>
                </li>
                <li>
                  <a routerLink="book" routerLinkActive="active">
                    Books
                  </a>
                </li> -->
                <!-- <li> 
                  <a routerLink="product/create" routerLinkActive="active">
                    Insert product
                  </a>
                </li>
                <li>
                  <a routerLink="product" routerLinkActive="active">
                    Products
                  </a>
                </li> 
              </ul>
              
        </td>
        <td width="70%">
          
            <router-outlet></router-outlet>
        </td>
        <td> </td>
      </tr>
    </table>
  </td></tr>
  <tr><td align="center"><h3>Footer</h3></td></tr>
</table> -->
<!-- <app-heroes></app-heroes> -->
<!-- {{title}} is running<br>
{{n1}}<br>
{{s1.rno}}-{{s1.name}}
<ul>
  <li *ngFor="let i of a1">
   {{i}}
  </li>
  <br>
  <li *ngFor="let i of students">
   {{i.rno}}
   {{i.name}}
</li>
</ul>
<div *ngIf="n1">
  Hello
</div>
<input type="text"[(ngModel)]="title"><br>
<input type="button" value="Click" (click)="f1()"> -->


<div class="header">
  <a href="#default" class="logo">Shopping Cart</a>
  <div class="header-right">
    <a routerLink="product">ProductList</a>
    <a routerLink="product/create">Add Product</a>
    <!-- <a href="#about">About</a> -->
  </div>
</div>
 <router-outlet></router-outlet>
  